.gsd-keyboard.settings-ported
autostart
'BetterDiscord Installer'
bspwm
cef_user_data
coc
dconf
enchant
eog
evolution
flameshot
gedit
gnome-initial-setup-done
gnome-session
goa-1.0
gtk-2.0
gtk-3.0
gtk-4.0
htop
ibus
mimeapps.list
nautilus
neofetch
nitrogen
pavucontrol.ini
pop-shell
pop-system-updater
pilse
QtProject.conf
starship.toml
sxhkd
systemd
touchegg
user-dirs.dirs
user-dirs.locale
VirtualBox
